{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<br>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'css/gijgo.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slimselect.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<style>
    td{padding:5px; }
    .card-body {
                margin:10px, 10px;
                padding:4px;
                width: max-width ;
                height: auto;
                text-align:justify;

            }
    .right {
  margin-right:0px;
  margin-left: 400px;
}
.modal-confirm {
	color: #636363;
	width: 400px;
	position: absolute;
    left: 40%;
    top: 40%;


}
.modal-confirm .modal-content {
	padding: 10px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 0px;
	border-radius: 25px;
}
.modal-confirm .modal-header {
	border-bottom: none;
	position: relative;

}
.modal-confirm h5 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}

.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}

.modal-confirm .btn, .modal-confirm .btn:active {
	color: #000;
	border-radius: 4px;
	background: #ffffff;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #ffffff;
	border-radius: 15px;
	height:40px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	border: 0.5px solid black;
	font-weight: bold;
	margin : 20px;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
	color: #fff;
	border-radius: 15px;
	height:40px;
	width: 40px;
	text-align: center;
	line-height: 20px;
	border: 0.5px solid black;
	font-weight: bold;
	margin : 20px;
}
    .img-circle {
        border-radius: 50%;
        border: 5px solid #0052c2;
    }
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.boxes{
border-bottom-width: 30px;
border-bottom-style: solid;
border-bottom-color: blue;
}

</style>
<div  >
  <center><h1 style="color: #246ebd; padding=5px; font-size:40px">Cart Summary</h1></center>
</div>
{% if can %}
<div style="left-margin:500px">
{% for c in can %}
<div class="boxes container" style="width: 60%;margin-left:3%; background-color:#f8f8f8;box-shadow:5px; border-width: 2px; border-radius: 20px;">
<div class="row"><div class="col">
    <table>
         <tr>
             <td>
                 <br>&nbsp;
         {% if request.user.applicantuserprofile.profile_pic.url == "" %}
                                            <img class="img-circle"
                                                 src="{% static 'dashboard/img/theme/person.png' %}"
                                                 height="150px"
                                                 width="150px"
                                                 class="img-thumbnail"
                                                 alt="profile"
                                            />
                                            <img src="{{ url }}" alt="" />
                                    {% else %}
                                            <img class="img-circle"
                                                 src="{{ request.user.applicantuserprofile.profile_pic.url }}"
                                                 height="150px"
                                                 width="150px"
                                                 class="img-thumbnail"
                                                 alt="profile"
                                            />
                                            <img src="{{ url }}" alt="" />
                                    {% endif %}
                 </td>
             <td><div class="col" >
              <h2 style="color:black;">{{ c.user.first_name }}  {{ c.user.last_name }}</h2>
                <h4 class="getVal"> {{c.experience_title }}</h4>
                 <h5 style="font-size:15px;"><i class="fa fa-map-marker" style="font-size:24px"></i>  {{c.location}}</h5>
             </div></td>
         </tr>
             <tr><td>
     <div>
         <b>&emsp;&emsp;&nbsp;Education</b>
     </div></td>
             <td>
                 <h5 style="font-size:15px;" class="getVal">&nbsp;&nbsp;{{c.school_degree}}</h5>
                <h5 style="font-size:15px;" class="getVal">&nbsp;&nbsp;{{c.school_name}}</h5>
             </td>
             </tr>
        <tr><td>
     <div>
         <b>&emsp;&emsp;&nbsp;Skill</b>
     </div></td>
        <td><h5 style="font-size:15px;" class="getVal">&nbsp;&nbsp;{{ c.skill_info }}</h5></td></tr>
    </table></div>
    <div class="col" style="position:relative; bottom:10%; left: 25%;">
                 <h1 style="position: relative; top:5%; left:5%;"><i class="fas fa-rupee-sign"></i> 2000</h1>
    <div class="col-sm-2" style="">
        <br>
        <a href="{% url 'recruiter:remove' pk=c.pk %}" style="position:relative;" >
                <button type="button" class="btn btn-primary mb-3"style="border-radius:12px;height:45px; width: 150px; text-align: center; background-color:#002c9c;">Remove</button>
            </a>
            <a href="{% url 'recruiter:applicant_detail' pk=c.pk %}" style="position:relative;">
                <button type="button" class="btn btn-warning mb-2 " style="color:white;border-radius:12px;height:45px; width: 150px; text-align: center; background-color:#f56c22;">Get Details</button>
            </a>

        </div>
    </div>
    <br>
     </div></div>
</div>
     <br>
    {% endfor %}
</div>
     <div style="position:absolute;right:5%;top:23%;width:30%;border-style: solid; border-width: 2px; border-radius: 20px;">

    <h3 style="color:blue;margin-top:10px;margin-left:25px;">  Amount Details</h3>
          <hr color="blue" style="border:1px solid blue; size:10px;width:400px;">
          <div class="row">
              <div class="col">
                  <h5 style="font-size:14px;margin-left:25px;">Total number of candidates:</h5>
              </div>
              <div class="col">
                  <h5 style="font-size:15px;float:right;margin-right:35px;">{{count}}</h5>
              </div>
          </div>
           <div class="row">
              <div class="col">
                  <h5 style="font-size:14px;margin-left:25px;">Price of candidates:</h5>
              </div>
              <div class="col">
                  <h5 style="font-size:15px;float:right;margin-right:35px;">{{price}}</h5>
              </div>
          </div>
            <div class="row">
              <div class="col">
                  <h5 style="font-size:14px;margin-left:25px;">Tax included:</h5>
              </div>
              <div class="col">
                  <h5 style="font-size:15px;float:right;margin-right:35px;">400</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5 style="font-size:14px;margin-left:25px;">Discount:</h5>
              </div>
              <div class="col">
                  <h5 style="font-size:15px;float:right;margin-right:35px;">100</h5>
              </div>
          </div>
          <hr color="blue" style="border:1px solid blue; size:10px;width:400px;">
          <div class="row">
              <div class="col">
                  <h5 style="color:blue;font-size:14px;margin-left:25px;"><b>Final Amount to pay:</b></h5>
              </div>
              <div class="col">
                  <h5 style="font-size:15px;float:right;margin-right:35px;color:blue;">{{total}}</h5>
              </div>
          </div>

        <select name="pay" id="payment" style=" border:3px solid blue;
 width:88%;
 height:40px;
 border-radius:5px;margin-left:25px;">
  <option value="paypal">Paypal</option>
   <option value="payu">PayU</option>
  <option value="ccavenue">CCavenue</option>
</select>
          <br>
          <a  style="position:relative; left:30%; width:150%;" ><br>
                <button  type="button" id="submit" class="btn btn-primary mb-3"style="border-radius:12px;height:45px; width: 150px; text-align: center; background-color:#002c9c;">Proceed to Pay</button>
            </a>
    </div>
{% endif %}
<a href="/recruiter/search-candidates/" style="font-size: 20px; margin-left:5%;"><b>+ More Candidates</b></a>
    <br><br><br>
<script type="text/javascript">
    var tag=document.getElementsByClassName("getVal");
    for(let i=0;i<tag.length;i++)
    {
        let inText=tag[i].innerText;
        inText=inText.replace("[","");
        inText=inText.replace("]","");
        inText=inText.replaceAll("\"","");
        tag[i].innerText=inText;
    }
    function getOption(){
     selectElement =document.querySelector('#payment');
      output = selectElement.value;
      document.querySelector('.output').textContent = output;
      }
       const map = {
       paypal: '/recruiter/paypal_payment/'
      ,payu: '/recruiter/payu_payment/'
    ,ccavenue: 'chemistry url'
      }
   document.getElementById('submit').addEventListener('click', () =>
  location.href = map[document.getElementById('payment').value])
</script>
{% endblock content %}
