{% extends "dashboard.html" %}

{% load static %}
{% block content %}

<style xmlns:color="http://www.w3.org/1999/xhtml">
body {overflow-x:hidden;
overflow-y:auto;
}

.btn{
background-color:#0275d8;
  border: none;
  color: white;
  margin-left:20px;
  padding: 7px 20px;
  text-align: center;
  font-family:calibri;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:50px;

}
.button{
color:#0275d8;
background-color:transparent;
  border: none;
  padding: 7px 20px;
  text-align: center;
  font-family:calibri;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;


}
main{
    width:100%;
    display:grid;
    color:white;
    grid-template-rows:60px 150px 100px 60px;
    grid-template-columns:repeat(3,1fr)150px;
    grid-gap:20px;
    margin:50px;

}
.div1{
    background-color: transparent;
    grid-column:1/-1;
}
.div2{
    background-color: transparent;
    grid-column:1/3;
}

.div6{
    background-color: transparent;
    grid-column:3/5;
    grid-row:2/5;
}
.div4{
    background-color: transparent;
    grid-column:1/3;
}
.div5{
    background-color: transparent;
    margin-top: -50px;
    grid-column:1/3;
}


#i2{
    padding:10px 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border:white;
    color:white;
    box-shadow: 2px 2px 10px grey;
   }
#i3{
    padding:9.5px 35px;
    border:white;
    box-shadow: 0px 2px 10px grey;
 }



</style>


<main>
    <div class="div1"></div>
    <div class="div2"><h2><font color="#0275d8" face="calibri" size="6px"><b>Find Your Best<br>Candidate With Us</b></font></h2>
    <p><font face="calibri" color="black">Hiring is most important people function you have,<br>and most of us are not as good at it as we think.</font></p></div>

    <div class="div6">    <img
            src="{% static 'dashboard/img/theme/img.png' %}"
            style="height:550px; width:1050px; margin-left:-450px; margin-top:-160px;"
            alt="profile"></div>
   <div class="div4"><form class="form-inline" action="{% url 'recruiter:search_candidates' %}" id="jobSearchForm" method="get">
                        <div id="breadth" class="form-group">
                            <label class="" for="jobs"></label>
                            <input type="text" class="form-control bg-light flex-fill roundSideLeft roundSideRight" id="i2" name="q" placeholder="Type Your Keyword" style="font-family: 'Font Awesome 5 Free';  font-weight: 900;">
                            <label class="" for="jobs"></label>
                            <!--<input type="text" >-->
                            <select class="form-control bg-light flex-fill roundSideLeft roundSideRight" style="margin-left:-5px;" id="i3" name="l" >
                                <option disabled selected hidden>location</option>
                                <option value="Agra">Agra</option>
                                <option value="Ahmedabad">Ahmedabad</option>
                                <option value="Ajmer">Ajmer</option>
                                <option value="Aligarh">Aligarh</option>
                                <option value="Allahabad">Allahabad</option>
                                <option value="Ambala">Ambala</option>
                                <option value="Amritsar">Amritsar</option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Bareilly">Bareilly</option>
                                <option value="Bharatpur">Bharatpur</option>
                                <option value="Bhilwara">Bhilwara</option>
                                <option value="Bhojpur">Bhojpur</option>
                                <option value="Bhopal">Bhopal</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Chhatarpur">Chhatarpur</option>
                                <option value="Chitrakoot">Chitrakoot</option>
                                <option value="Churu">Churu</option>
                                <option value="Coimbatore">Coimbatore</option>
                                <option value="Daman">Daman</option>
                                <option value="Darbhanga">Darbhanga</option>
                                <option value="Darjeeling">Darjeeling</option>
                                <option value="Dehradun">Dehradun</option>
                                <option value="Dholpur">Dholpur</option>
                                <option value="Diu">Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Faridabad">Faridabad</option>
                                <option value="Fatehabad">Fatehabad</option>
                                <option value="Fatehpur">Fatehpur</option>
                                <option value="Firozabad">Firozabad</option>
                                <option value="Gandhinagar">Gandhinagar</option>
                                <option value="Ganganagar">Ganganagar</option>
                                <option value="Garhwa">Garhwa</option>
                                <option value="Gaya">Gaya</option>
                                <option value="Gautam Buddh Nagar">Gautam Buddh Nagar</option>
                                <option value="Ghaziabad">Ghaziabad</option>
                                <option value="Ghazipur">Ghazipur</option>
                                <option value="Gurgaon">Gurgaon</option>
                                <option value="Gwalior">Gwalior</option>
                                <option value="Hamirpur">Hamirpur</option>
                                <option value="Haridwar">Haridwar</option>
                                <option value="Hissar">Hissar</option>
                                <option value="Hooghly">Hooghly</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Indore">Indore</option>
                                <option value="Jaipur">Jaipur</option>
                                <option value="Jaisalmer">Jaisalmer</option>
                                <option value="Jalandhar">Jalandhar</option>
                                <option value="Jammu">Jammu</option>
                                <option value="Jhansi">Jhansi</option>
                                <option value="Jodhpur">Jodhpur</option>
                                <option value="Kanchipuram">Kanchipuram</option>
                                <option value="Kanpur">Kanpur</option>
                                <option value="Kanyakumari">Kanyakumari</option>
                                <option value="Kargil">Kargil</option>
                                <option value="Kohima">Kohima</option>
                                <option value="Kolhapur">Kolhapur</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Kota">Kota</option>
                                <option value="Kottayam">Kottayam</option>
                                <option value="Kozhikode">Kozhikode</option>
                                <option value="Kurnool">Kurnool</option>
                                <option value="Kurukshetra">Kurukshetra</option>
                                <option value="Kutch">Kutch</option>
                                <option value="Lalitpur">Lalitpur</option>
                                <option value="Leh">Leh</option>
                                <option value="Lucknow">Lucknow</option>
                                <option value="Ludhiana">Ludhiana</option>
                                <option value="Madurai">Madurai</option>
                                <option value="Mainpuri">Mainpuri</option>
                                <option value="Mathura">Mathura</option>
                                <option value="Meerut">Meerut</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Muzaffarnagar">Muzaffarnagar</option>
                                <option value="Mysore">Mysore</option>
                                <option value="Nagpur">Nagpur</option>
                                <option value="Nainital">Nainital</option>
                                <option value="Nashik">Nashik</option>
                                <option value="Nanital">Nanital</option>
                                <option value="Pali">Pali</option>
                                <option value="Panipat">Panipat</option>
                                <option value="Patna">Patna</option>
                                <option value="Pithoragarh">Pithoragarh</option>
                                <option value="Pondicherry">Pondicherry</option>
                                <option value="Pune">Pune</option>
                                <option value="Raigarh">Raigarh</option>
                                <option value="Raipur">Raipur</option>
                                <option value="Rajkot">Rajkot</option>
                                <option value="Ramgarh">Ramgarh</option>
                                <option value="Ranchi">Ranchi</option>
                                <option value="Rohta">Rohta</option>
                                <option value="Sambalpur">Sambalpur</option>
                                <option value="Shimla">Shimla</option>
                                <option value="Sikar">Sikar</option>
                                <option value="Solapur">Solapur</option>
                                <option value="Sonipat">Sonipat</option>
                                <option value="Srinagar">Srinagar</option>
                                <option value="Surat">Surat</option>
                                <option value="Thane">Thane</option>
                                <option value="Thrissur">Thrissur</option>
                                <option value="Tiruchirappalli">Tiruchirappalli</option>
                                <option value="Tonk">Tonk</option>
                                <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                <option value="Udaipur">Udaipur</option>
                                <option value="Udupi">Udupi</option>
                                <option value="Ujjain">Ujjain</option>
                                <option value="Uttarkashi">Uttarkashi</option>
                                <option value="Vadodara">Vadodara</option>
                                <option value="Varanasi">Varanasi</option>
                                <option value="Vellore">Vellore</option>
                                <option value="Visakhapatnam">Visakhapatnam</option>
                            </select>
                            <label class="" for="searchBtn"></label>
                            <button type="submit" style="margin-left:-80px;box-shadow: 1px 2px 10px grey; background-color:#0275d8; padding:11px 30px;" id="i4" class="btn btn-primary flex-fill roundSideRight roundSideLeft">Search</button>
                        </div>
                        </form></div>
    <div class="div5" ><a href="{% url 'recruiter:profile' pk=user.pk %}"><button class="btn"><b>Complete Profile -></button></a><a  href="{% url 'recruiter:create_job' %}"><button class="button"><b>Post Job +</button></a></div>

</main>




{% endblock content %}
