{% extends "dashboard.html" %}
{% block content %}
    <div class="container-fluid mt--6">
        <div class="row justify-content-center">
            <div class="col-md-8 col-12">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h1 class="mb-0">Job Posted !</h1>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <p>Job has been posted, applicant's will contact you shortly..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}