{% extends 'index.html' %}
{% block content %}

<h1>Signup</h1>
<form method="POST">
  <div
    class="container"
    style="
      background-color: lightblue;
      border: 2px solid black;
      color: rgb(56, 56, 56);
      font-style: inherit;
      padding: 10px;
    "
  >
    <h1 class="font-weight-bolder">Create new account</h1>
    <div>
      {% csrf_token %}
      <div class="form-group">
        <label style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
          >Username</label
        >
        {{ form.username }} {{ form.username.help_text }}
      </div>
      <div class="form-group">
        <label style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
          >Password
        </label>
        {{ form.password1 }} {{ form.password1.help_text }}
      </div>
      <div class="form-group">
        <label style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
          >Password</label
        >
        {{ form.password2 }}{{ form.password2.help_text }}
      </div>
    </div>
    <button
      style="padding: 10px;"
      class="btn btn-primary btn-outline-info"
    >
      Register
    </button>
  </div>
</form>
{% endblock %}
