{% extends "base.html" %}


{% block content %}

<h1>Activation Successful!</h1>
    <div class='alert alert-info'></div>
    <h1>Activation Successful!</h1>
        <a href="{% url 'applicant:jobs_list' %}">Click to Continue</a>
    </div>
{% endblock content%}
