{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-md-11 col-12">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h1>Upload Resume</h1>
                            <hr>
                            <form class="row justify-content-between" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}