{% extends "dashboard.html" %}
{% load static %}
{% block content %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/multiple-select.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slimselect.min.css' %}">
<style type="text/css">
    span > .button-style{
        border: none;
        background-color: transparent;
    }
    .ss-main .ss-multi-selected{
        border: 0px solid white;
    }
    .ss-main{
        width: 400px;
    }
    .ss-content{
    	z-index: 2000;
    }
    .ss-search{
    	z-index: 2000;
    }
</style>
{% endblock %}

<div class="container-fluid mt--6"  >
    <div class="row justify-content-center"style="margin-top:100px" >
        <div class="col-md-11 col-12">
            <div class="row">
                <div class="col">
                    <div class="card">
                    	<div class="card-header">
                            <div class="row justify-content-center">
                                <div class="col-xl-3 col-md-6 col-12">
                                    {% if request.user.applicantuserprofile.profile_pic.url == "" %}
                                        <a href="{% url 'applicant:upload_pic' pk=user.pk %}">
                                            <img
                                                 src="{% static 'dashboard/img/theme/person.png' %}"
                                                 height="700"
                                                 width="80%"
                                                 class="img-thumbnail"
                                                 alt="profile"
                                            />
                                            <img src="{{ url }}" alt="" />
                                       </a>
                                    {% else %}
                                       <a href="{% url 'recruiter:upload_pic' pk=user.pk %}">
                                            <img
                                                 src="{{ request.user.applicantuserprofile.profile_pic.url }}"
                                                 height="700"
                                                 width="80%"
                                                 class="img-thumbnail"
                                                 alt="profile"
                                            />
                                            <img src="{{ url }}" alt="" />
                                       </a>
                                    {% endif %}
                                    <a href="{% url 'applicant:upload_pic' pk=user.pk %}" style="color:blue;font-size:25px;position:relative;top:30px; left:-2%;"><b>Change Profile Pic</b></a>
                         &nbsp;&nbsp;         <!--<a href="{% url 'recruiter:delete_pic' pk=user.pk %}" style="color:red;font-size:25px;position:relative;top:30px; left:-18%;"><b>Remove Pic</b></a>-->

                                </div>
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="row justify-content-left">
                                        <div class="col-md-12 col-12">
                                            <div class="my-3">
                                                <span>USERNAME: {{user.username}} </span>
                                                <hr>
                                            </div>
                                            <div>
                                                <span class="text-primary pr-5">Profession<button id="profile" type="button" class="button-style fas fa-edit" data-toggle="modal" data-target="#editBrief"></button></span>
                                                <span id="briefDescription"></span>
                                            </div>
                                            <div class="mt-2">
                                                <i class="fas fa-map-marker-alt"></i><span class="pl-2 pr-5">Location: </span>
                                                <span id="Location"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="row justify-content-left">
                                        <div class="col-md-12 col-12">
                                            <div class="my-3">
                                                <span>EDUCATION <button id="button-style" type="button" class="button-style fas fa-edit" data-toggle="modal" data-target="#addSchoolDetails"></button></span>
                                                <hr>
                                            </div>
                                            <div class="col" id="education"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="row justify-content-left">
                                        <div class="col-md-12 col-12">
                                            <div class="my-3">
                                                <span>CERTIFICATION <button id="button-style" type="button" class="button-style fas fa-edit" data-toggle="modal" data-target="#addAchievementDetails"></button></span>
                                                <hr>
                                            </div>
                                            <div class="col" id="achievement"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-5">
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="row justify-content-left">
                                        <div class="col-md-12 col-12">
                                            <div>
                                                <span>SKILLS <button id="button-style" type="button" class="button-style fas fa-edit" data-toggle="modal" data-target="#editSkill"></button></span>
                                                <hr>
                                                <h3 id="Skill"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="row justify-content-left">
                                        <div class="col-md-12 col-12">
                                            <div>
                                                <span>EXPERIENCE <button id="button-style" type="button" class="button-style fas fa-edit" data-toggle="modal" data-target="#addCompanyDetails"></button></span>
                                                <hr>
                                            </div>
                                            <div id="iExp" class="col"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="row justify-content-left">
                                        <div class="col-md-12 col-12">
                                            <div>
                                                <i class="fas fa-user"></i><span class="pl-2">ABOUT <button id="button-style" type="button" class="button-style fas fa-edit" data-toggle="modal" data-target="#editProfile" onclick="saveBasic()"></button></span>
                                                <hr>
                                            </div>
                                            <div class="mb-2">
                                                <span class="text-muted"><h6>BASIC INFORMATION</h6></span>
                                            </div>
                                            <table>
                                                <tr>
                                                    <td>First Name:</td>
                                                    <td class="pl-2 " id="profileFirstName"></td>
                                                    <input type="hidden" id="getFName" name="variable" value="{{ user.first_name }}">
                                                </tr>
                                                <tr>
                                                    <td>Last Name:</td>
                                                    <td class="pl-2" id="profileLastName"></td>
                                                    <input type="hidden" id="getLName" name="variable" value="{{ user.last_name }}">
                                                </tr>
                                                <tr>
                                                    <td>Birthday:</td>
                                                    <td class="pl-2" id="profileDob"></td>
                                                </tr>
                                                <tr>
                                                    <td>Gender:</td>
                                                    <td class="pl-2" id="profileGender"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="row justify-content-left">
                                        <div class="col-md-12 col-12">
                                            <div class="mb-5 mt-sm-0 mt-5">
                                                <span>CONTACT <button id="button-style" type="button" class="button-style fas fa-edit" data-toggle="modal" data-target="#editContact" onclick="saveContact()"></button></span>
                                                <hr>
                                            </div>
                                            <table>
                                                <tr>
                                                    <td>Phone: </td>
                                                    <td class="pl-2" id="contactInfo"></td>
                                                    <input type="hidden" id="getPhone" name="variable" value="{{ user.phone }}">
                                                </tr>
                                                <tr>
                                                    <td>E-Mail: </td>
                                                    <td class="pl-2" id="mailId"></td>
                                                    <input type="hidden" id="getMail" name="variable" value="{{ user.email }}">
												</tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary mt-5 float-right" id="mainSave">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--DJANGO-->
<div class="row justify-content-center" hidden>
    <div class="col-md-8 col-12">
        <form method="POST">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    {% csrf_token %}
                    <div class="text-center">
                        <button id="finalSaveButton" type="submit">Save Updated Profile</button>
                    </div>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    {% for field in form %}
                    <div class="form-group row justify-content-center">
                        <label for="example-text-input" class="col-md-3 col-4 col-form-label form-control-label">
                            {{ field.label_tag }}{% if field.field.required %} * {% endif %}</label>
                        <div class="col-md-9 col-8">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
</div>


<div id="editProfile" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Basic Information</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="form-group col">
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" class="form-control" value=""
                                    name="profile[firstName]" />
                            </div>
                            <div class="form-group col">
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" class="form-control" value=""
                                    name="profile[lastName]" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="dob">Birthday</label>
                                <input type="date" id="dob" class="form-control" value="" name="profile[dob]" />
                            </div>
                            <div class="form-group col">
                                <label for="gender">Gender</label>
                                <select type="text" id="gender" class="form-control" value=""
                                    name="profile[gender]" >
                                    {% for x,y in form.fields.gender.choices %}
                                        <option value="{{x}}">{{y}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="editSkill" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Skill Information</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
			<div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="form-group col">
                                <label for="skill_info">Select Skills</label>
                                <select multiple id="skill_info" class="form-control" value=""
                                    name="Skill" >
                                    {% for x,y in form.fields.skill_info.choices %}
                                        <option value="{{x}}">{{y}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="editContact" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Contact Information</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="form-group col">
                                <label for="contact_information">Phone Number</label>
                                <input type="text" id="contact_information" class="form-control" value=""
                                    name="contactInfo" />
                            </div>
                            <div class="form-group col">
                                <label for="mailid">Email</label>
                                <input type="text" id="mailid" class="form-control" value=""
                                    name="mailId" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Description-->
<div id="editBrief" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1></h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="description">Your Profession</label>
                            <textarea id="description" class="form-control" type="text"
                                name="briefDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="location">Your Location</label>
                            <textarea id="location" class="form-control" type="text"
                                name="Location"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--AddCompanyDetails -->
<div id="addCompanyDetails" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Add a new Experience</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="cDesignation">Add designation</label>
                            <input id="cDesignation" type="text" class="form-control" name="iExp[designation]"
                                required="required" />
                        </div>
                        <div class="form-group">
                            <label for="cName">Company name</label>
                            <input id="cName" type="text" class="form-control" name="iExp[cName]" />
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="cCity">City</label>
                                <input id="cCity" class="form-control" type="text" name="iExp[city]">
                            </div>
                            <div class="form-group col">
                                <label for="cState">State</label>
                                <input id="cState" class="form-control" type="text" name="iExp[state]">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="cFrom">From</label>
                                <input id="cFrom" class="form-control" type="date" name="iExp[from]">
                            </div>
                            <div class="form-group col">
                                <label for="cTill">Till</label>
                                <input id="cTill" class="form-control" type="date" name="iExp[till]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--AddSchoolInformation-->
<div id="addSchoolDetails" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Add Institute information</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="sName">School</label>
                            <input id="sName" type="text" class="form-control" name="studentEducation[name]" />
                        </div>
                        <div class="form-group">
                            <label for="sDegree">Degree</label>
                            <input id="sDegree" type="text" class="form-control" name="studentEducation[degree]" />
                        </div>
                        <div class="form-group">
                            <label for="sField">Field of study</label>
                            <input id="sField" type="text" class="form-control" name="studentEducation[field]" />
                        </div>
                        <div class="form-group">
                            <label for="sLocation">Location</label>
                            <input id="sLocation" type="text" class="form-control" name="studentEducation[location]" />
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="sFrom">From</label>
                                <input id="sFrom" class="form-control" type="date" name="studentEducation[from]">
                            </div>
                            <div class="form-group col">
                                <label for="sTill">Till</label>
                                <input id="sTill" class="form-control" type="date" name="studentEducation[till]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--AddProjectInformation
<div id="addProjectDetails" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Add Project Details</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="pName">Project Name</label>
                            <input id="pName" type="text" class="form-control" name="userProject[name]" />
                        </div>
                        <div class="form-group">
                            <label for="pDescription">Project Description</label>
                            <textarea id="pDescription" type="text" class="form-control"
                                name="userProject[description]"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="pUrl">Project Url</label>
                            <input id="pUrl" type="text" class="form-control" name="userProject[url]" />
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="pFrom">From (Month,YYYY)</label>
                                <input id="pFrom" class="form-control" type="month" name="userProject[from]">
                            </div>
                            <div class="form-group col">
                                <label for="pTill">Till (Month,YYYY)</label>
                                <input id="pTill" class="form-control" type="month" name="userProject[till]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->

<!--Achievements-->
<div id="addAchievementDetails" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Certificates</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="aTitle">Project Name</label>
                            <input id="aTitle" type="text" class="form-control" name="achievement[title]" />
                        </div>
                        <div class="form-group">
                            <label for="aDescription">Description</label>
                            <textarea id="aDescription" type="text" class="form-control"
                                name="achievement[description]"></textarea>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="aIssuer">Issuer</label>
                                <input id="aIssuer" type="text" class="form-control" name="achievement[issuer]" />
                            </div>
                            <div class="form-group col">
                                <label for="aIssue">Date</label>
                                <input id="aIssue" class="form-control" type="date" name="achievement[issue]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block dashboardScripts %}
<script src="{% static 'js/slimselect.min.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/userProfile.js' %}"></script>
<script type="text/javascript">
	var saveBasic;
	var saveContact;
	$(document).ready(function(){
	var toFName=document.getElementById("profileFirstName");
	var fromFName=document.getElementById("getFName");
	if(toFName.textContent=="")
		toFName.textContent=fromFName.value;
	var toLName=document.getElementById("profileLastName");
	var fromLName=document.getElementById("getLName");
	if(toLName.textContent=="")
		toLName.textContent=fromLName.value;
	var toPhone=document.getElementById("contactInfo");
	var fromPhone=document.getElementById("getPhone");
	if(toPhone.textContent=="")
		toPhone.textContent=fromPhone.value;
	var toMail=document.getElementById("mailId");
	var fromMail=document.getElementById("getMail");
	if(toMail.textContent=="")
		toMail.textContent=fromMail.value;
	saveBasic=function () {
		var a= $("#getFName").val();
		if($("#firstName").val()=="")
   			$("#firstName").val(a);
   		var b= $("#getLName").val();
		if($("#lastName").val()=="")
   			$("#lastName").val(b);
   };
   saveContact=function () {
		var a= $("#getPhone").val();
		if($("#contact_information").val()=="")
   			$("#contact_information").val(a);
   		var b= $("#getMail").val();
		if($("#mailid").val()=="")
   			$("#mailid").val(b);
   };
});
select=new SlimSelect({
    select: '.modal-content #skill_info',
    closeOnSelect: false,
    addToBody: true,
    hideSelectedOption: true,
    placeholder: 'Select Required Skills',
});
var sel=document.getElementsByTagName("select")[0];
var items=sel.getElementsByTagName("option");
var select;
var arr=[];
for(let i=0;i<items.length;i++)
{
    if(items[i].selected)
    {   arr.push(items[i].value.trim());
    }
    select.set(arr);
}
</script>
{% endblock %}

