{% extends "base.html" %}
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col text-dark">
            </div>
        </div>
        <div class="row">
            <div class="col">
				<div class="alert alert-info m-5">
					Password Changed Successfully!
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock  %}