{% extends "base.html" %}
{% block content %}
	<style type="text/css">
		footer{
			position: absolute;
			bottom: 0;
		}
	</style>
	<br><br><br>
    <div class="alert alert-info text-center">
        Your password has been set.
    </div>
    <div class="row justify-content-center">
    	<button class="btn btn-outline-primary"><a href="{% url 'accounts:password_reset' %}">Go back</a></button>
	</div>
{% endblock content %}