{% extends "dashboard.html" %}

{% block content %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Change Password</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">changePass</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--6">
        <div class="row justify-content-center">
            <div class="col-md-8 col-12">
                <div class="card">
                    <div class="card-header bg-transparent border-0">
                        <h1>Change Password</h1>
                    </div>

                    <div class="card-body px-lg-7">
                        <form method="POST" class="form" role="form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            let tag=document.getElementsByTagName('form')[0];
            let list=tag.getElementsByTagName('ul');
            for(let i=0;i<list.length;i++)
                list[i].classList.add("d-none");
            let elist=tag.getElementsByClassName('errorlist');
            for(let i=0;i<elist.length;i++)
            {   elist[i].classList.remove("d-none");
                elist[i].classList.add("alert","alert-danger");
                elist[i].style.listStyle="none";
            }
            let al1=document.getElementsByTagName("input")[1];
            al1.style.marginLeft="101px";
            let al2=document.getElementsByTagName("input")[2];
            al2.style.marginLeft="95px";
    </script>
{% endblock %}