{% extends "dashboard.html" %}
{% block content %}
<div class="header bg-primary pb-6">
	<div class="container-fluid">
        <div class="header-body">
            <div class="row py-4">
                <div class="col-lg-12">
                    <h6 class="h2 text-white mb-3">Resume Settings</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4 col-md-12">
                    	<h1 class="mb-3 text-white">View Resume or download directly to PDF</h1>
                    </nav>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="container mt--6">
	<div class="row justify-content-center">
		<a class="btn btn-info" href="{% url 'converter:pdf_view' %}" target="_blank">View Resume</a>
		<a class="btn btn-info"  href="{% url 'converter:pdf_download' %}">Download Resume</a>
		<a class="btn btn-info"  href="{% url 'index' %}">Edit Resume</a>
	</div>
</div>
<br>
{% endblock %}