{%load myfilters%}
<head>
  <style>
      @page {
          size: a4 portrait;
          @frame header_frame {           /* Static Frame */
              -pdf-frame-content: header_content;
              left: 50pt; width: 512pt; top: 50pt; height: 40pt;
          }
          @frame content_frame {          /* Content Frame */
              left: 50pt; width: 512pt; top: 90pt; height: 632pt;
          }
          @frame footer_frame {           /* Another static Frame */
              -pdf-frame-content: footer_content;
              left: 50pt; width: 512pt; top: 772pt; height: 20pt;
          }
      }
  </style>
  </head>

  <body>
      <!-- Content for Static Frame 'header_frame' -->
      <div id="header_content">
        <h3>{{dict.first_name}} {{dict.last_name}}</h3>
      </div>

      <!-- Content for Static Frame 'footer_frame' -->
      <div id="footer_content">(c) - page <pdf:pagenumber>
          of <pdf:pagecount>
      </div>

      <table>
        {% for key, value in dict.items %}
          {%if key != 'csrfmiddlewaretoken' %}
            {%if value != '[]' and value != '' and value != ' ' and value != '[""]'%}
              <tr>
                <td>{{key|correct}}</td>
                <td>{{value|forvalue}}</td>
              </tr>
            {%endif%}
          {%endif%}
        {% endfor %}
      </table>

      <!-- HTML Content -->

      <!-- <table>
          <tr>
            <td>Address</td>
            <td>{{addr}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{mail}}</td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>{{dob}}</td>
          </tr>
          <tr>
            <td>Salary (Lacs)</td>
            <td>{{sal}}</td>
          </tr>
          <tr>
            <td>Experience (Years)</td>
            <td>{{exp}}</td>
          </tr>
      </table> -->

      <hr>

      <hr>

  </body>
  </html>
