{% extends  'index.html' %}
{% block content %}
    <div class="alert alert-info">
        Your password has been set.
    </div>
    <a href="{% url 'password_reset'%}">Go back</a>
{% endblock content %}