<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>social networking</title>
<link href="/static/vender/bs/css/bootstrap.min.css" rel="stylesheet" />
<script src="/static/vender/jquery-3.3.1.min.js"></script>
<script src="/static/vender/popper.min.js"></script>
<script src="/static/vender/bs/js/bootstrap.min.js"></script>
<link href="/static/vender/fa/css/font-awesome.min.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
</head>
<body>

<header id="myheader1">
	<img class="w-100 h-100" src="/static/images/banner.jpg" />
	<div id="headfix">
<nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <a class="navbar-brand" href="#">social networking</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/social/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/social/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/social/contact">Contact</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/social/mypost">My Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/social/myprofile">Profiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts_social/logout">Logout</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'applicant:edit_profile'  pk=user.pk%}">ProfCess</a>

            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts_social/login">Login</a>
            </li>
            {% endif %}

			{% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
			{% else %}
				{% if user.is_authenticated %}
				            <li class="nav-item">
                			<a class="nav-link" href="/social/profile/edit/{{ user.myprofile.id }}">Edit Profile</a>
            				</li>
				{% endif %}
			{% endif %}

            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
             -->
        </ul>
    </div>
</nav>
	</div>
</header>




{% block content %}
{% endblock %}

<footer class="myfooter text-center p-1">

<div class="row">
<div class="col-sm-6">
<h2>Toll Free No</h2>
<p>1-800-800-xxxx</p>
</div>
<div class="col-sm-6">
<h2>Social Media</h2>
<a href="#"><span class="fa fa-facebook-official fa-2x mx-2"></span></a>
<a href="#"><span class="fa fa-twitter fa-2x  mx-2"></span></a>
<a href="https://www.youtube.com/channel/UCMZwWDcN1q5qphqzRa44LKA"><span class="fa fa-youtube fa-2x  mx-2"></span></a>
</div>
</div>

<p>Copyright @ profcess</p>
</footer>
</body>
</html>
