/* Fonts */

@font-face {
     font-family: Avenir;
     src: url(fonts/AvenirLTProMedium.otf);
}

@font-face {
     font-family: poppins;
     src: url(fonts/Poppins-Regular.ttf);
}

#mainNav li,
.carousel-inner p,
.form-control,
footer ul > li {
     font-family: poppins;
}

h1,
h2,
h3,
p,
h5,
h6 {
     font-family: Avenir;
}

footer h5 {
     color: white;
}

div.container h2::selection,
div.container p::selection,
div.container h3::selection,
div.container h4::selection,
div.container h1::selection,
.form-control::selection {
     color: white;
}

/* Title of website */

a.page_title {
     color: #7d7d7d !important;
     display: inline-block;
}

/* Design for buttons on website */

.btn {
     border-radius: 8px !important;
     color: white !important;
}

.formDesign {
     background-color: rgba(0, 0, 0, 0.4);
     border-radius: 20px;
     padding: 30px;
     margin: 30px;
}

.jobDesign {
     background-color: rgba(255, 255, 255, 0.3);
}

.recruiterDesign {
     background-color: rgba(1, 56, 112, 0.3);
}

/* Career Advice*/
.interviewTips {
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-image: url("img/careerAdviceTips.jpg");
}

.resumeTips {
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-image: url("img/careerAdviceResume.jpg");
}

#path {
     text-align: center;
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-position: center center;
     background-image: url("assets/img/path.jpg");
     /*border-radius: 8px;*/
}

#path > div {
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 300px;
}

#path > div > div {
     padding: 10px;
}

/* For phones */
@media (max-width: 580px) {
     ul.verticalSlider li a {
          font-size: 16px !important;
          padding: 5px !important;
          margin-bottom: 5px !important;
     }

     #mainNav.nav-link.btn-primary {
          margin-bottom: 10px;
     }

     .carousel-caption > h3 {
          font-size: 1.5rem;
     }

     .carousel-caption > p {
          font-size: 0.75rem;
     }

     .statsDiv img {
          height: 75px;
          width: auto;
     }

     #searchTabContent div.row > div {
          margin-top: 10px;
     }

     h1 {
          font-size: 30px;
     }

     h2 {
          font-size: 20px;
     }

     h3 {
          font-size: 14px;
     }

     #recruiterServices img {
          height: 3rem;
          width: auto;
     }

     section > .container {
          padding: 1rem 0;
     }

     .one {
          background: linear-gradient(
                    rgba(15, 53, 103, 0.5),
                    rgba(15, 53, 103, 0.5)
               ),
               url("img/wallpaper/m1.jpg");
     }

     .two {
          background: linear-gradient(
                    rgba(15, 53, 103, 0.5),
                    rgba(15, 53, 103, 0.5)
               ),
               url("img/wallpaper/m2.jpg");
     }

     .three {
          background: linear-gradient(
                    rgba(15, 53, 103, 0.5),
                    rgba(15, 53, 103, 0.5)
               ),
               url("img/wallpaper/m3.jpg");
     }

     #mainNav ul li .btn {
          margin-top: 10px;
     }

     .headerTitle h1 {
          font-size: 3rem;
     }

     .headerTitle {
          display: flex;
          align-items: center;
     }

     header.headerTitle {
          height: 300px;
     }

     .paddingSlider {
          padding-top: 100px;
          padding-bottom: 100px;
     }

     #sideBySideAbout img {
          height: 8rem;
          width: auto;
     }
}

.carousel-inner {
     background-color: #0a0c0d;
}

/* For desktops*/
@media (min-width: 580px) {
     section > .container {
          padding: 2rem 0;
     }

     .statsDiv img {
          height: 80px;
          width: auto;
     }

     .headerTitle h1 {
          font-size: 80px;
     }

     h1 {
          font-size: 45px;
     }

     h2 {
          font-size: 35px;
     }

     h3 {
          font-size: 25px;
     }

     #recruiterServices img {
          height: 5rem;
          width: auto;
     }

     .one {
          background: linear-gradient(
                    rgba(15, 53, 103, 0.5),
                    rgba(15, 53, 103, 0.5)
               ),
               url("img/wallpaper/1.jpg");
     }

     .two {
          background: linear-gradient(
                    rgba(15, 53, 103, 0.5),
                    rgba(15, 53, 103, 0.5)
               ),
               url("img/wallpaper/2.jpg");
     }

     .three {
          background: linear-gradient(
                    rgba(15, 53, 103, 0.5),
                    rgba(15, 53, 103, 0.5)
               ),
               url("img/wallpaper/3.jpg");
     }

     header.headerTitle {
          padding-top: 200px;
          padding-bottom: 200px;
     }

     .paddingSlider {
          padding-top: 100px;
          padding-bottom: 100px;
     }

     .headerTitle {
          background-attachment: fixed;
     }

     #sideBySideAbout img {
          height: 15rem;
          width: auto;
     }
}

#sideBySide > div.row,
#sideBySideAbout > div.row {
     margin-bottom: 30px;
}

#sectorsDiv div.row div {
     padding-top: 50px !important;
     padding-bottom: 50px !important;
}

#sectorsDiv div.row div:hover {
     background-color: #4896ff !important;
     transition-duration: 0.4s;
     transition-timing-function: ease-in-out;
}

#sectorsDiv div.row div {
     transition-duration: 0.6s;
}

#homePageCarousel .carousel-inner {
     text-shadow: 2px 2px 20px black;
}

.about h1 {
     text-align: center;
}

#searchForm ul li a {
     color: white;
}

footer .form-control {
     margin-top: 10px;
}

footer h3,
footer p {
     color: white;
}

.logoFull {
     width: 25%;
}

#footerNavigation {
     margin-top: 30px;
}

#footerNavigation ul {
     text-decoration: none;
     list-style-type: none;
     padding: 0 !important;
}

#footerNavigation ul li {
     margin-top: 20px;
}

#footerNavigation h6 {
     color: white !important;
}

#footerNavigation ul li a {
     color: #e6ecf5;
}

ul.verticalSlider {
     list-style: none;
     position: fixed !important;
     top: 32%;
     z-index: 99;
     padding: 5px;
     border-radius: 8px;
     text-align: center;
}

ul.verticalSlider li a {
     background-color: #fff;
     text-decoration: none;
     color: black;
     font-size: 26px;
     margin-bottom: 1vh;
     padding: 7px;
     border-radius: 50%;
     box-shadow: 1px 1px 4px 1px;
}

#findJobForm {
     background-color: rgba(1, 56, 112, 0.5);
     border-radius: 8px;
}

#recruiterServices > div.row > div {
     padding: 20px;
}

#bannerPromote {
     padding: 20px;
}

header {
     padding-top: 4rem;
}

.headerTitle h1 {
     text-shadow: 4px 4px 10px black;
}

p {
     line-height: 1.2;
}

body {
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
          Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header.auth {
     background-image: url("assets/img/wallpaperAuth.jpeg");
}

header.signUp {
     background-image: url("assets/img/wallpaperSignup.jpeg");
}

header.fillProfile {
     background-image: url("assets/img/fillProfile.jpeg");
}

.headerTitle,
header {
     text-align: center;
     color: #fff;
     background-repeat: no-repeat !important;
     background-size: cover;
}

