{% load static %}
<html lang="en">
{% if messages %}
><div class="space"><br><br><br><br></div>
<div class="card col-md-12 alert alert-success alert-dismissable">
    <ul class="messages" style="text-align:center;color:black">
    {% for message in messages %}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="goBack()">&times;</button>
        {{ message }}
    {% endfor %}
    </ul>
</div>
    {% endif %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Prof-Cess</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/6.4.1/css/intlTelInput.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .country-name{
        color:black;
    }
    </style>



    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'main.css' %}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

</head>

<body id="page-top">
<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}"><img
                src="{% static 'assets/img/logoFull.png' %}" alt=""/></a>
        <button
                class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">Menu<i class="fa fa-bars ml-1"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Job Seekers
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'accounts:applicant-signup' %}">Find Job</a>
                        <a class="dropdown-item" href="{% url 'careerAdvice' %}">Career Advice</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recruiter
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'accounts:recruiter-signup' %}">Find A talent</a>
                        <a class="dropdown-item" href="{% url 'services' %}">Services</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}{% if user.usertype == "Recruiter" %}
                    {% if user.recruiteruserprofile %}
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'recruiter:profile' pk=user.pk %}"
                            >View
                                Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'recruiter:posted_jobs' %}">Posted jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'recruiter:create_job' %}"
                               class="btn btn-simple">Add job</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'accounts:logout' %}"
                               class="btn btn-simple">Log out</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'accounts:password_change' %}"
                               class="btn btn-simple">Change Password</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'recruiter:profile' pk=user.pk %}"
                            >View
                                Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'recruiter:posted_jobs' %}"
                               class="btn btn-simple">Posted jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'recruiter:create_job' %}"
                               class="btn btn-simple">Add job</a>
                        </li>

                        <!--<li class="nav-item">
						<a class="btn btn-primary nav-link" href="{% url 'recruiter:create_recruiter_profile' %}"
							class="btn btn-simple">Fill User
							Profile</a>
					</li>-->
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'accounts:logout' %}"
                               class="btn btn-simple">Log out</a>
                        </li>
                       <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'accounts:password_change' %}"
                               class="btn btn-simple">Change Password</a>
                        </li>
                    {% endif %}
                {% else %} {% if user.applicantuserprofile %}
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'applicant:jobs_list' %}"
                               class="btn btn-simple">Find Jobs</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'accounts:logout' %}"
                               class="btn btn-simple">Log out</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'accounts:password_change' %}"
                               class="btn btn-simple">Change Password</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'applicant:create_applicant_profile' %}"
                               class="btn btn-simple">Fill User
                                Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'accounts:logout' %}"
                               class="btn btn-simple">Log out</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link" href="{% url 'accounts:password_change' %}"
                               class="btn btn-simple">Change Password</a>
                        </li>

                    {% endif %}


                {% endif %} {% else %}
                    <li class="nav-item dropdown">
                        <a class="btn btn-primary nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sign Up
                        </a>
                        <div class=" dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-black nav-link"
                               href="{% url 'accounts:recruiter-signup' %}">Recruiter Sign up</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-black nav-link"
                               href="{% url 'accounts:applicant-signup' %}">Applicant Sign up</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-black nav-link"
                               href="{% url 'accounts:college-signup' %}">College Sign up</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary nav-link" href="{% url 'accounts:login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %} {% endblock %}
<!-- Footer-->
<footer class="py-4 bg-secondary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="{% static 'assets/img/logoFooter.png' %}" class="logoFull"/>
                <div id="footerNavigation" class="container-fluid">
                    <div class="row">
                        <div class="col-4 col-md-4">
                            <h5>Prof-Cess</h6>
                            <ul class="text-white">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About US</a></li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-4 col-md-4">
                            <h5>Job Seeker</h6>
                            <ul class="">
                                <li><a href="{% url 'accounts:applicant-signup' %}">Applicant Signup</a></li>
                                <li><a href="{% url 'applicant:jobs_list' %}">Find Job</a></li>
                                <li><a href="{% url 'careerAdvice' %}">Career Advice</a></li>
                                <li>Job Search</li>
                            </ul>
                        </div>
                        <div class="col-4 col-md-4">
                            <h5>Recruiter</h6>
                            <ul class="">
                                <li><a href="{% url 'accounts:recruiter-signup' %}">Recruiter Signup</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'recruiter:create_job' %}">Post A Job</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="container form-group">
                    <div class="row">
                        <div class="col-6">
                            <h3>India</h3>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <!--Social icons-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Hoshangabad Road, Bhopal – 462026, India</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Email:
                                contact@profcess.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Phone Number:
                                0755 - 2929493</p>
                        </div>
                    </div>
                    <form method="POST" id="cForm" name="Fcontact">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <input class="form-control" id="id_{{ Cform.name.name }}" name="{{ Cform.uname.name }}" type="text" placeholder="Enter your name"
                                   name="personName" required="required" />
                        </div>
                        <div class="col-12 col-md-6">
                            <input class="form-control" id="id_{{ Cform.mail.name }}" name="{{ Cform.mail.name }}" type="email" placeholder="Enter your email" name="email" required="required"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" id="id_{{ Cform.telephone.name }}" name="{{ Cform.telephone.name }}" type="tel" placeholder="Enter your phone number" required="required"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
								<textarea style="height:90px; resize: none;" class="form-control" id="id_{{ Cform.message.name }}" name="{{ Cform.message.name }}" placeholder="Type your message" required="required"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control btn btn-primary" type="submit" value="Submit"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="{% static 'assets/mail/jqBootstrapValidation.js' %}"></script>
<!--<script src="{% static 'assets/mail/contact_me.js' %}"></script>-->
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js' %}"></script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        once: true, 
    });
    function goBack() {
        document.getElementsByClassName('space')[0].classList.add('d-none');
    }
</script>
<!--Custom JS-->
<script src="{% static 'main.js' %}"></script>

{% block scripts %} {% endblock %}

</body>

</html>