{% load static %}
<!DOCTYPE html>
<html lang="en">
{% if messages %}
<div class="card col-md-12 alert alert-warning" style="background-color:AntiqueWhite">
    <ul class="messages" style="text-align:center;color:black">
    {% for message in messages %}
    <span class="badge badge-danger">Warning</span>  {{ message }}
    <!--<br<span><a href="{% url 'accounts:email_form' %}"><br>E-mail</a></span>-->
    {% endfor %}
    </ul>
</div>
    {% endif %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prof-Cess Dashboard</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'dashboard/vendor/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'dashboard/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}"
          type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/argon.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'dashboard/index.css' %}" type="text/css">

    </head>

<style>
.dropdown-item:active{
   border-radius :8px;
  }
  .dropdown-item:hover{
     background-color:#275eb8;
     border-radius :8px;
     display: block;
    }
    .nav-item a{
    color : white;
    font-size : 13px;
    padding :15px;
    }

</style>
<body>
{% block menu %}{% endblock %}
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand bg-white border-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar links -->
                <ul class="navbar-nav align-items-center ml-md-auto ">

                    <li class="nav-item d-xl-none">
                        <!-- Sidenav toggler -->
                        <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                             data-target="#sidenav-main">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </div>
                    </li>
                    {% block navbar %} {% endblock %}
                </ul>
                <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                      {% if user.usertype == "Recruiter" %}
                                        {% if request.user.recruiteruserprofile.profile_pic %}
                                            <img alt="Image placeholder"
                                                src="{{ request.user.recruiteruserprofile.profile_pic.url }}">

                                        {% else %}
                                              <img alt="Image placeholder"
                                                   src="{% static 'dashboard/img/theme/person.png' %}">
                                        {% endif %}

                                       {% endif %}

                                       {% if user.usertype == "Applicant" %}
                                         {% if request.user.applicantuserprofile.profile_pic.url == "" %}
                                            <img alt="Image placeholder"
                                                src="{% static 'dashboard/img/theme/person.png' %}">
                                        {% else %}
                                            <img alt="Image placeholder"
                                                src="{{ request.user.applicantuserprofile.profile_pic.url }}">
                                        {% endif %}
                                        {% endif %}
                                    </span>
                               <!-- <div class="media-body  ml-2  d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">{{ user.username }}</span>
                                </div> -->
                            </div>
                        </a>
                        <div style="background-color:#275eb8" class="dropdown-menu  dropdown-menu-right ">
<!--                            <div class="dropdown-header noti-title">-->
<!--                                <h6 class="text-overflow m-0">Welcome!</h6>-->
<!--                            </div>-->
<!--                            <a href="{% url 'applicant:edit_profile' pk=user.pk %}" class="dropdown-item">-->
<!--                                <i class="ni ni-single-02"></i>-->
<!--                                <span>My profile</span>-->
<!--                            </a>-->
<!--                            {% if user.usertype == "Recruiter" %}-->
<!--                            <a href="{% url 'recruiter:upload_pic' pk=user.pk %}" class="dropdown-item">-->
<!--                                <i class="ni ni-single-02"></i>-->
<!--                                <span>Add Profile Pic</span>-->
<!--                            </a>-->
<!--                            {% endif %}-->
<!--                            {% if user.usertype == "Applicant" %}-->
<!--                            <a href="{% url 'applicant:upload_pic' pk=user.pk %}" class="dropdown-item">-->
<!--                                <i class="ni ni-single-02"></i>-->
<!--                                <span>Add Profile Pic</span>-->
<!--                            </a>-->
<!--                            {% endif %}-->
                               {% if user.usertype == "Recruiter" %}
                               <a href="{% url 'recruiter:dashboard' %}" class="dropdown-item">
                                   <h3 style="font-weight:400;color:white ;text-align:center;">Dashboard</h3>
                               </a><hr style="height:1px;border-width:1;background-color:white;margin: 2px 0 2px 0;">
                               {% else %}
                               <a href="{% url 'dashboard' %}" class="dropdown-item">
                                   <h3 style="font-weight:400;color:white ;text-align:center;">Dashboard</h3>
                               </a><hr style="height:1px;border-width:1;background-color:white;margin: 2px 0 2px 0;">
                               {% endif %}
                            <a href="{% url 'accounts:password_change' %}" class="dropdown-item">
                                <h3 style="font-weight:400;color:white ;text-align:center;">Change Password</h3>
                            </a>  <hr style="height:1px;border-width:1;background-color:white;margin: 2px 0 2px 0;">
                            {% if user.usertype == "Recruiter" %}
                            <a href="{% url 'recruiter:profile' pk=user.pk %}" class="dropdown-item">
                               <h3 style="font-weight:400;color:white ;text-align:center;">Edit profile</h3>

                            </a>  <hr style="height:1px;border-width:1;background-color:white;margin: 2px 0 2px 0;">
                            {% else %}
                            <a href="{% url 'applicant:create_applicant_profile'  %}" class="dropdown-item">
                               <h3 style="font-weight:400;color:white ;text-align:center;">Edit profile</h3>

                            </a>  <hr style="height:1px;border-width:1;background-color:white;margin: 2px 0 2px 0;">
                            {% endif %}
                            <a href="{% url 'accounts:logout' %}" class="dropdown-item">
                                <h3 style="font-weight:400;color:white ;text-align:center;">Logout</h3>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <!--  <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">-->
                            <!--<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    {% block content %} {% endblock %}
    <!-- Page content -->
    <div style="position:fixed; bottom:0;height: 2.8rem;background-color :#275eb8;z-index:2;"class="container-fluid ">
        <!-- Footer -->
        <footer style="background-color :#275eb8; line-height:35px;" class="footer pt-0 ">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-4">
                    <div  class="copyright text-center  text-lg-left  text-muted">
                        <a href="{% url 'accounts:index' %}" style="color:white; font-size:13px;" class="font-weight-bold ml-1" target="_blank"> &emsp;2020 Prof-Cess All Rights Reserved</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul style="margin-left:15%;" class="nav nav-footer justify-content-center justify-content-lg-start">
                        <li class="nav-item">
                            <a href="{% url 'accounts:index' %}" target="_blank">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'accounts:about' %}" target="_blank">Statement</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'recruiter:recruiter_blog' %}"  target="_blank">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/company/profcess" class="fa fa-linkedin" style="font-size:16px;color:white;"></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/ProfCess-2406155253003978/" class="fa fa-facebook" style="font-size:16px;color:white;"></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/ProfCess" class="fa fa-twitter" style="font-size:16px;color:white;"></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.instagram.com/profcess/?igshid=1otmnrq2o0yru" class="fa fa-instagram" style="font-size:16px;color:white;"></a>
                        </li>

                    </ul>

                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Argon Scripts -->
<!-- Core -->
<script src="{% static 'dashboard/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/js-cookie/js.cookie.js' %}"></script>
<script src="{% static 'dashboard/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
<!-- Optional JS -->
<script src="{% static 'dashboard/vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/chart.js/dist/Chart.extension.js' %}"></script>
<!-- Argon JS -->
<script src="{% static 'dashboard/js/argon.min.js' %}"></script>

{% block dashboardScripts %}

{% endblock %}
</body>
</html>
