{% extends 'base1.html' %}
{% block content %}
<div class="row p-5">
	<div class="col">
		<h1 class="myhead2">About Us</h1>
		<hr>
	</div>
	<div class="row text-justify">
		<div class="col-sm-6">
			<p>We, profcess  (An ISO 9001:2015 Certified Organization), would like to have a training association with your prestigious college through our vocational training programs. Objective behind this is to offer students a valuable insight on Machine Learning/Artificial Intelligence/Python/Java/Android (Kotlin)/ Data Science/J2EE (Advance Java)/Angular/PHP/Dot Net/Bootstrap technology by our industry-oriented training. </p>
			<ul>
			<li>learn</li>
			<li>connect</li>
			<li>make career</li>
			<li>Company</li>
			</ul>
		</div>
		<div class="col-sm-6">
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="#" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
		</div>
	</div>
</div>
<div class="row my-3">
	<div class="col-sm-8 offset-sm-2">
	<div id="carouselId" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="img-fluid w-100" src="/static/images/first.jpg" >
        </div>
        <div class="carousel-item">
            <img class="img-fluid w-100" src="/static/images/second.jpg" >
        </div>
        <div class="carousel-item">
            <img class="img-fluid w-100" src="/static/images/third.jpg" >
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

	</div>
</div>
{% endblock %}

