{% extends 'base1.html' %}
{% block content %}
{% load crispy_forms_tags %}

<main class="p-5">
<div class="row">
	<div class="col-sm-6 offset-sm-3">
	<h1 class="myhead2">R u sure!</h1>
		<hr>
		<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{{form | crispy}}
		<input class="btn btn-danger my-3" type="submit" />
		</form>
	
	</div>
</div>
</main>
{% endblock %}
