{% extends 'base1.html' %}
{% block content %}
<div class="p-5">
<h1 class="myhead2">Profiles </h1>
<hr>
<form class="form-inline">
<input class="form-control mr-3" placeholder="Search" value="{{ request.GET.si }}" type="text" name="si" />
<input class="btn btn-dark mr-3" type="submit" value="Search" />
</form>

<table class="table my-3">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
{% for n1 in myprofile_list %}
        <tr>
            <td>{{n1.user_id.first_name}} {{n1.user_id.last_name}}</td>
            <td>{{n1.age}}</td>
            <td>{{n1.gender}}</td>
            <td>
            <a class="btn btn-dark btn-sm" href='/social/myprofile/{{n1.id}}'>Read More</a>
            {% if n1.followed %}
            <a class="btn btn-danger btn-sm" href='/social/myprofile/unfollow/{{n1.id}}'>Unfollow</a>
            {% else %}
            <a class="btn btn-primary btn-sm" href='/social/myprofile/follow/{{n1.id}}'>Follow</a>
            {% endif %}
            </td>
        </tr>
{% endfor %}
</table>
</div>
{% endblock %}
